# IntelliJ IDEA Project files
.idea
*.iml
*.ipr
*.iws
out
server/pkg/linux_amd64/content.a
server/pkg/linux_amd64/execution.a
server/pkg/windows_amd64/execution.a
server/pkg/windows_amd64/content.a
# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

pkg/
github.com
